#projects-screen {
  background: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;

  padding: 5vw 10vw;
  height: 100vh;
}

#projects-screen h1 {
  color: var(--main-complementary-color);
  font-family: 'Kanit', sans-serif;
  font-size: 48px;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;

  width: 75vw;  

  padding: 40px;
  background: #F4F3EE;

  overflow-x: scroll;
  scroll-behavior: smooth;

  border-radius: 10px;
}

#carousel::-webkit-scrollbar {
  height: 10px; 
}

#carousel::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

#carousel::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #999;
}

#add-project {
  background-color:#38A2BC;

  font-size: 48px;
  font-weight: bold;

  border-radius: 10px;

  height: 80px;
  width: 80px;
}
