#hw-animation {
  font-family: 'Victor Mono', monospace;
  font-size: 36px;
  border-right: 5px solid;
  width: 492px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10vw;

  animation: typing 3.5s steps(22), blinking 0.5s infinite step-end alternate;
}

.hw-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--hw-screen-height);
  z-index: 0;
}

.bg-animation {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1.5s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1.5s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1.5s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1.5s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}

#hw-info {
  color: #8b8b8a;
  font-size: 32px;
  margin-right: 10vw;
}

#hw-info h2 {
  color: var(--main-complementary-color);
  font-size: 48px;
}

#location {
  color: #10131A;
  font-weight: 700;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}